# Force text files to LF in repo, auto-convert on Windows
* text=auto

# Keep binary / compiled stuff untouched
*.png binary
*.jpg binary
*.gif binary

# Keep .csproj, .sln as LF in repo
*.csproj text eol=lf
*.sln    text eol=lf
